openapi: "3.1.0"
info:
  title: "groshare_backend API"
  description: "groshare_backend API"
  version: "1.0.0"
servers:
  - url: "https://groshare.dariostrm.dev"
  - url: "http://localhost:8080"
paths:
  /api/v1:
    get:
      description: ""
      responses:
        "200":
          description: "OK"
          content:
            text/plain:
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "Hello World!"
  /api/v1/login:
    post:
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
  /api/v1/logout:
    post:
      description: ""
      security:
        - bearerAuth: []
      responses:
        "204":
          description: "No Content"
  /api/v1/profile:
    get:
      description: ""
      security:
        - bearerAuth: []
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProfileResponse"
    put:
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditProfileRequest"
        required: true
      security:
        - bearerAuth: []
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "204":
          description: "No Content"
        "409":
          description: "Conflict"
          content:
            '*/*':
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "Username or email already exists"
  /api/v1/profile/apartment:
    delete:
      description: ""
      security:
        - bearerAuth: []
      responses:
        "204":
          description: "No Content"
  /api/v1/signup:
    post:
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: "Unauthorized"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: "Created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpResponse"
        "409":
          description: "Conflict"
          content:
            '*/*':
              schema:
                type: "string"
              examples:
                Example#1:
                  value: "Username or email already exists"
components:
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
      required:
        - "error"
    # Other request/response schemas
    LoginRequest:
      type: "object"
      properties:
        username:
          type: "string"
        password:
          type: "string"
      required:
        - "username"
        - "password"
    LoginResponse:
      type: "object"
      properties:
        token:
          type: "string"
      required:
        - "token"
    GetProfileResponse:
      type: "object"
      properties:
        username:
          type: "string"
        email:
          type: "string"
        apartmentName:
          type: "string"
          nullable: true
      required:
        - "username"
        - "email"
    EditProfileRequest:
      type: "object"
      properties:
        username:
          type: "string"
        email:
          type: "string"
      required:
        - "username"
        - "email"
    SignUpRequest:
      type: "object"
      properties:
        username:
          type: "string"
        email:
          type: "string"
        password:
          type: "string"
      required:
        - "username"
        - "email"
        - "password"
    SignUpResponse:
      type: "object"
      properties:
        token:
          type: "string"
      required:
        - "token"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "UUID"
